## OpenMeetings
## author swagner
## 11.05.2007
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='de' lang='de'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
</head>
<body>
<b>OpenMeetings - Installation</b><br />

<form name="form1" id="form1" method="post" action="?command=step2">

    <fieldset>
    
		<legend>Userdata</legend>    
    
        <label for="username">Username</label>
    	<input name="username" id="username" size="27" title="Enter a username" type="text" /><br />

        <label for="userpass">Userpass</label>
    	<input name="userpass" id="userpass" size="27" title="Enter a password" type="text" /><br />

        <label for="useremail">EMail</label>
    	<input name="useremail" id="useremail" size="27" title="Enter a EMail" type="text" /><br/>
    	    	
    </fieldset>
    
    <fieldset>
    
		<legend>Organisation(Domains)</legend>    
    
        <label for="orgname">Name</label>
    	<input name="orgname" id="orgname" size="27" title="Enter a default Organisation" type="text" />   	
    	    	
    </fieldset>    
    
    <fieldset>
    
		<legend>Configuration</legend>    
    
        <label for="configdefault">Allow self-registering</label>
    	<select name="configdefault" id="configdefault" size="1">
	      	<option value="1" selected>Yes</option>
	        <option value="0">No</option>
	    </select><br />
	    
	    <label for="configreferer">Mail-Referer</label>
    	<input name="configreferer" id="configreferer" size="27" title="Enter a Referer" type="text" /><br />
    	
        <label for="configsmtp">SMTP-Server</label>
    	<input name="configsmtp" id="configsmtp" size="27" title="Enter a SMTP-Server" type="text" /><br/>
    	
    	<label for="configsmtp">SMTP-Server Port(default Smtp-Server Port is 25)</label>
    	<input name="configsmtpport" id="configsmtpport" size="27" title="Enter a SMTP-Server.Port normally 25" type="text" /><br/>
    	
    	<label for="configmailuser">SMTP-Username</label>
    	<input name="configmailuser" id="configmailuser" size="27" title="Enter the mail-username" type="text" /><br />
    	
    	<label for="configmailpass">SMTP-Userpass</label>
    	<input name="configmailpass" id="configmailpass" size="27" title="Enter the mail-userpass" type="text" /><br/>
    	 
    	<label for="configdefaultLang">Default Language</label>
    	<select name="configdefaultLang" id="configdefaultLang" size="1">
	      	<option value="EN" selected>english</option>
	    </select><br/>
	    	       	
    </fieldset>  
    
    <fieldset>
    
		<legend>Converters</legend>    
    
        <label for="swftools_path">SWFTools Path</label>
    	<input name="swftools_path" id="swftools_path" size="27" title="Enter the path to swftools for example C:/swftools (Windows) or leave blank if swftools is a known to your system path" type="text" />   	
    	<p>You can test if swftools is installed into system path by opening a shell or cmd-prompt and type pdf2swf<br/>
    		If this shows a list of options leave this field blank otherwise you have to specify the path to pdf2swf on your system<br/>
    		see also <a href="http://code.google.com/p/openmeetings/wiki/ConvertersInstallation" target="_blank">ConvertersInstallation</a></p>
        
        <label for="imagemagick_path">ImageMagick Path</label>
    	<input name="imagemagick_path" id="imagemagick_path" size="27" title="Enter the path to ImageMagick, leave blank if ImageMagick is successfully installed to system-path" type="text" />   	
    	<p>see also <a href="http://code.google.com/p/openmeetings/wiki/ConvertersInstallation" target="_blank">ConvertersInstallation</a></p>	
    	
    </fieldset>      
    
    <fieldset>
    
		<legend>Crypt Type</legend>    
    
        <label for="crypt_ClassName">Crypt Class</label>
    	<input name="crypt_ClassName" id="crypt_ClassName" size="27" type="text" 
    		title="Enter the Class name of the Encryption Class. DO NOT ALTER THIS IF YOU ARE NOT SURE"
    		value="org.xmlcrm.utils.crypt.MD5Implementation" />  	
    	<p>
	    	You can use this default crypt type which is equal to PHP-MD5 function or BSD-Style<BR/>
	    	encryption by using:<b>org.xmlcrm.utils.crypt.MD5CryptImplementation</b><BR/>
	    	for more information or to write your own Crypt-Style see:<BR/>
			<a href="http://code.google.com/p/openmeetings/wiki/CustomCryptMechanism" target="_blank">CustomCryptMechanism</a><BR/>
			You can edit this value later BUT previous created Users and Sessions might be not usable anymore<BR/>
    	</p>
        
    </fieldset>       
        	  
        	
    <fieldset>
        <legend>Absenden</legend> 
        <input name="Submit" value="Senden" title="Formular absenden" type="submit" />
    </fieldset>	
	
</form>

</body>
</html>
