<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

	
	<display-name>Openmeetings</display-name>

	<context-param>
	    <param-name>globalScope</param-name>
	    <param-value>default</param-value>
	</context-param>

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/red5-*.xml</param-value>
	</context-param>

	<context-param>
		<param-name>locatorFactorySelector</param-name>
		<param-value>red5.xml</param-value>
	</context-param>

	<context-param>
		<param-name>parentContextKey</param-name>
		<param-value>default.context</param-value>
	</context-param>
	
	<!-- This will only work for Red5-0.6.3 !!
		in 0.7 this throws an Error and the App will not start -->
	<context-param>
	    <param-name>log4jConfigLocation</param-name>
	    <param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/openmeetings</param-value>
	</context-param>
	
	<listener>
	    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <!-- remove the following servlet tags if you want to disable remoting for this application -->    
        
    <servlet>
        <servlet-name>gateway</servlet-name>
        <servlet-class>org.red5.server.net.servlet.AMFGatewayServlet</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>DownloadHandler</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.DownloadHandler</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>DownloadHandler</servlet-name>
    	<url-pattern>/DownloadHandler</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>Install</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.Install</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>Install</servlet-name>
    	<url-pattern>/Install</url-pattern>
    </servlet-mapping>
	
    <servlet-mapping>
    	<servlet-name>Install</servlet-name>
    	<url-pattern>/install</url-pattern>
    </servlet-mapping>	
    
    <servlet>
    	<servlet-name>UploadHandler</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.UploadHandler</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>UploadHandler</servlet-name>
    	<url-pattern>/UploadHandler</url-pattern>
    </servlet-mapping>  

    <servlet>
    	<servlet-name>ScreenServlet</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.ScreenServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>ScreenServlet</servlet-name>
    	<url-pattern>/ScreenServlet</url-pattern>
    </servlet-mapping> 	 
	
    <servlet>
    	<servlet-name>ScreenViewHandler</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.ScreenViewHandler</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>ScreenViewHandler</servlet-name>
    	<url-pattern>/ScreenViewHandler</url-pattern>
    </servlet-mapping> 		
	
	<servlet>
    	<servlet-name>ScreenRequestHandler</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.ScreenRequestHandler</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>ScreenRequestHandler</servlet-name>
    	<url-pattern>/ScreenRequestHandler</url-pattern>
    </servlet-mapping>
	
	<servlet>
    	<servlet-name>LangExport</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.LangExport</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>LangExport</servlet-name>
    	<url-pattern>/LangExport</url-pattern>
    </servlet-mapping>
	
	<servlet>
    	<servlet-name>Export</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.Export</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>Export</servlet-name>
    	<url-pattern>/Export</url-pattern>
    </servlet-mapping>
	
	<servlet>
    	<servlet-name>Import</servlet-name>
    	<servlet-class>org.xmlcrm.servlet.outputhandler.Import</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>Import</servlet-name>
    	<url-pattern>/Import</url-pattern>
    </servlet-mapping>
		
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/streams/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/upload/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/conf/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/desktop/*</url-pattern>
        </web-resource-collection>				
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/ooservice/*</url-pattern>
        </web-resource-collection>    
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/desktop/*</url-pattern>
        </web-resource-collection> 		    
        <web-resource-collection>
            <web-resource-name>Forbidden</web-resource-name>
            <url-pattern>/uploadtemp/*</url-pattern>
        </web-resource-collection>        
        <auth-constraint/>
    </security-constraint>

</web-app>
