## OpenMeetings
## author swagner
## 10.04.2007
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='de' lang='de'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
</head>
<body>
<b>OpenMeetings - Installation</b><br />
Necessary steps which should have already been done:<br/>
1.)Install and configure a database<br/>
2.)Edit hibernate.cfg.xml to fit your database authentification values<br/>
hibernate.cfg.xml can be found in $RED5_HOME/webapps/openmeetings/install/hibernate.cfg.xml<br/>
You need to alter:<br/>
                        <property name="connection.username">postgres</property>        <br/>                                                                                      
                        <property name="connection.password">*****</property>                <br/>                                                                                 
                        <property name="connection.driver_class">org.postgresql.Driver</property> <br/>                                                                            
                        <property name="connection.url">jdbc:postgresql://localhost/xmlcrm</property>  <br/> 
                       you will need to restart red5  after you did change database - connection values<br/>
3.)Install openoffice-service running on port 8100 in headless modus (<A HREF="http://code.google.com/p/openmeetings/wiki/OpenOfficeConverter">OpenOfficeConverter</A>)<BR/>
4.)Install imagemagick+ghostscript+swftools and make it availible in your Classpath <BR/>
<UL>
<LI>Linux distros: Imagemagick can be installed with your package system (apt-get,yast,..)</LI>
<LI>MacOSX: Imagemagick can be installed from the <A HREF="http://www.imagemagick.org" TARGET="_BLANK">imagemagick projectpage<A> or using fink + apt-get</LI>
<LI>Windows: Follow the instructions on the <A HREF="http://www.imagemagick.org" TARGET="_BLANK">imagemagick projectpage<A> </LI>
</UL>
<BR/>
If this steps have been done you can follow with step 1 of installation:<BR/><BR/>
<A HREF="?command=step1">continue with STEP 1</A>
</body>
</html>
