<?xml version="1.0" encoding="UTF-8" ?>
<config>

<!-- URL/IP to use for the Server 192.168.178.28 
inno02.fh-pforzheim.de macbook 192.168.2.103
192.168.2.102 bxlug.homelinux.org 213.219.160.72
    if this value is empty it will try to connect to the 
    domain-name it has been loading from  
    inno02.fh-pforzheim.de  192.168.254.180
    -->
<rtmphostlocal>192.168.2.102</rtmphostlocal>

<!--  
Port to use for the Server
To this port the default server lookup is done

You can find all this configuraiton in your red5-Config in: $RED5_HOME/conf/red5.properties
 -->
<rtmpport>1935</rtmpport>

<!-- 
Port to use for the Server
To this port the fallback is done once the default rtmport failed
this should workaround 99% of all firewalls
 -->
<rtmpTunnelport>8088</rtmpTunnelport>

<!-- 
Port to use for the Server
This port is used to connec to the http-servlet
of the red5-servlet
 -->
<red5httpport>5080</red5httpport>
	
<!--
	These colors are the main colors and style the hole application
 -->
<basebgcolorizer>0xB0C4DE</basebgcolorizer>
<baseMousecolorizer>0xC4D5E6</baseMousecolorizer>
<baseMouseOvercolorizer>0xC4D5E6</baseMouseOvercolorizer>
	
<!-- 
	Version number of this distro
 -->
<currentappversion>Version 0.5 Beta7</currentappversion>
    
<!--
    Name of the Application
    this is the Top-Icon Name of the Application
 -->    
<currentappname>OpenMeetings</currentappname>    
    
<!-- 
    URL to the Home of the Application
    this is the URL which is used if you click on the Top-icon
-->    
<currentappnameurl>http://openmeetings.googlecode.com</currentappnameurl>        

<!--
    URL to Bugs/Support
    this is the URL which is used if you click on *report a bug*
 -->
<currentappnamebugurl>http://code.google.com/p/openmeetings/issues/list</currentappnamebugurl>   
        
<!--
    Video-Settings
    this value is used in Audio_Streaming, at which the *activity-meter* will
    send a notification for all connected hosts of a conference
    the result of this notification is that you see the green-light highlighted if
    a remote user is speaking
 -->
<loudnessAcitviation>7</loudnessAcitviation>   
    
<!--
    OpenMeetings-Webapp Name
    This is the name of the WebApp the Client will try to connect
    in former versions (till 0.5 Beta7) the name was xmlcrm
    the same param kann be find in the webapp in the Red5-Webapp
    red5-web.properties
    web.xml
 -->
<webAppRootKey>openmeetings</webAppRootKey>  
    
<!--
    Window-Effect Settings
    showWindowEffect-values:
    y = yes
    n = no
    showWindowEffectOpacity-values
    between 0 and 1
 -->
<showWindowEffect>y</showWindowEffect>    
	
<!--
	First day in the Week used by the Calendar
	0 means Sunday
	1 means Monday
	this is the way how the Celendar inits a week
-->
<firstdayinweek>1</firstdayinweek>	

        
</config>