<html xmlns:d="docbuild">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="SHORTCUT ICON" href="http://www.openlaszlo.org/favicon.ico">
    <title>LZX Doc Navigation</title>
    <style type="text/css">
      img {border: 0}
      body {margin: 0}
    </style>
  </head>
  <body>
    <div id="lzx-fallback">
      <div id="contents">
        <div>
          <ul>
            <li>
              <a target="content" href="classlist.html">Top</a>
            </li>
            <% @nav.each do |title, docs| %>
            <li><%= title %><ul>
                <% docs.each do |doc| %>
                <li>
                  <a target="content" href="<%= doc[:url] %>"><%= doc[:title] %></a>
                </li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
