Package: red5-openmeetings
Version: 1.0.2760
Architecture: all
Maintainer: Rodion Volkov <volkov.rodion@gmail.com>
Installed-Size: 102708
Depends: sun-java6-jdk, debconf
Conflicts: red5-server, tomcat6, tomcat5
Section: utils
Priority: optional
Homepage: http://code.google.com/p/openmeetings
Description: OpenMeetings Red5 server package
 If you want to install OpenMeetings on your server then please use this
 package. Please be sure you launch it using the sun's java6 libraries by
 setting the alternatives accordingly. For normal document processing,
 you need to have imagemagick, swftools, ghostscript and openoffice.org3
 packages installed and running. After package is installed, please go
 to http://127.0.0.1:5080/openmeetings/install and finish the
 installation process. Please, visit http://code.google.com/p/openmeetings
 for more information.
