<html>
<head>
<title>Enter user ID and Display name to start testing:</title>
</head>
<body>
<form method="POST" action="test_functionality.php">
ID:<input type="text" id="UID" name="UID"><br>
Name:<input type="text" id="UN" name="UN"><br>
<input type="submit">
</form>
</body>
</html>