#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

JAVA_HOME            := /usr/lib/jvm/java-6-sun

# Build classpath is set via ant.properties
# Here is classpath for ant plugins :
DEB_JARS             :=
ANT_ARGS             := -f build.xml dist

DEB_ANT_BUILD_TARGET :=
#DEB_ANT_CHECK_TARGET := run-tests
DEB_ANT_CLEAN_TARGET := clean

binary-install/red5-openmeetings::

	dh_installdirs usr/share/red5-openmeetings/
	dh_installdirs usr/share/red5-openmeetings/webapps/
	dh_installdirs usr/share/red5-openmeetings/conf/
	dh_installdirs usr/share/red5-openmeetings/lib/
	dh_installdirs usr/share/red5-openmeetings/log/
	dh_installdirs usr/share/red5-openmeetings/log/work/

	dh_install dist/red5/boot.jar usr/share/red5-openmeetings/
	dh_install dist/red5/webapps/* usr/share/red5-openmeetings/webapps/
	dh_install dist/red5/conf/* usr/share/red5-openmeetings/conf/
	dh_install dist/red5/lib/* usr/share/red5-openmeetings/lib/
	dh_install dist/red5/work/* usr/share/red5-openmeetings/work/
	dh_install dist/red5/.classpath usr/share/red5-openmeetings/
	dh_install dist/red5/red5-debug.sh usr/share/red5-openmeetings/
	dh_install dist/red5/red5-highperf.sh usr/share/red5-openmeetings/
	dh_install dist/red5/red5.jar usr/share/red5-openmeetings/
	dh_install dist/red5/red5.sh usr/share/red5-openmeetings/
	dh_install dist/red5/red5-shutdown.sh usr/share/red5-openmeetings/
	dh_install debian/red5-daemon.sh usr/share/red5-openmeetings/
	dh_install -pred5-openmeetings-oo debian/red5-openmeetings-oo-daemon.sh usr/share/red5-openmeetings/
	dh_install debian/red5-openmeetings.conf etc/red5-openmeetings/
	dh_install -pred5-openmeetings-oo debian/red5-openmeetings-oo.conf etc/red5-openmeetings/
